.container {
  background-color: var(--color-engel);
  width: 100%;
}

.wrapper {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 24px 120px;
  margin: 0 auto;
  align-items: flex-start;
  position: relative;
}

.content {
  margin-right: 120px;
  display: flex;
  align-items: center;
}

.closeIcon {
  position: absolute;
  top: 24px;
  right: 120px;
}

.closeIcon:hover {
  cursor: pointer;
}
