.container {
  background: white;
  max-width: 1200px;
  margin-bottom: var(--spacing-l);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.content {
  display: flex;
  height: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.imageContainer {
  display: flex;
  flex: 1;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselPrevBtn,
.carouselNextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.carouselPrevBtn button,
.carouselNextBtn button {
  background: none;
  border: none;
  padding: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;

  &:hover,
  &:focus {
    background-color: rgba(0,0,0,0.5);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: transparent !important;
  }
}

.carouselNextBtn {
  left: auto;
  right: 0;
}

.info {
  display: flex;
  flex: 2;
  padding: var(--spacing-m);

  @media (max-width: 991px) {
    padding: var(--spacing-m) var(--spacing-s);
  }

  @media (max-width: 768px) {
    padding: var(--spacing-m) var(--spacing-s);
  }

  @media (max-width: 576px) {
    flex-direction: column;
    padding: var(--spacing-m) var(--spacing-s) var(--spacing-xs) var(--spacing-s);
  }
}

.details {
  flex: 2;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    margin: 0;
    font-size: var(--fontsize-heading-m);
  }
}

.completionTime,
.applicationTime,
.applicationSent,
.moveInTime {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-xs);

  a {
    font-weight: bold;
    text-decoration: underline;
    color: inherit;
  }
}

.completionTime {
  margin-top: var(--spacing-s);
}

.deadlines > div:last-child {
  margin-bottom: 0;
}

.label {
  padding: 3px 8px;
  color: #1d1d1d;
  font-size: 14px;
  font-family: var(--font-default);
  font-weight: normal;
  line-height: 26px;
  background-color: var(--color-engel);
}

.controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 576px) {
    margin-top: var(--spacing-l);
    align-items: stretch;
  }

  @media (min-width: 769px) {
    padding-left: var(--spacing-s);
  }
}

.detailsButton {
  height: 36px;
  min-height: unset !important;
  white-space: nowrap;
  text-decoration: none;

  @media (max-width: 576px) {
    height: 56px;
  }

  & + .detailsButton {
    @media (max-width: 576px) {
      margin-top: var(--spacing-xs);
    }
  }
}

.apartmentListButton {
  height: 36px;
  min-height: unset !important;
  white-space: nowrap;

  @media (max-width: 576px) {
    height: 56px;
    margin-top: var(--spacing-xs);
  }

  @media (min-width: 577px) {
    padding-left: var(--spacing-2-xs) !important;
    padding-right: var(--spacing-2-xs) !important;

    > div {
      margin-right: 0 !important;
    }

    > span {
      padding: 0 var(--spacing-2-xs) 0 0 !important;
    }
  }
}
