.container {
  text-align: center;
  max-width: calc(1200px + var(--spacing-2-xl) + var(--spacing-2-xl));
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--spacing-3-xl) var(--spacing-2-xl) var(--spacing-l);

    @media (max-width: 1099px) {
      padding: var(--spacing-xl) var(--spacing-l) var(--spacing-l);
    }

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

.showButton {
  height: 56px;

  @media (max-width: 576px) {
    margin-top: var(--spacing-m);
    width: 100%;
  }
}

.titleContainer {
  text-align: left;
}

.titleContainer h2 {
  font-size: var(--fontsize-heading-m);
  margin: 0;

  @media (min-width: 769px) {
    font-size: var(--fontsize-heading-l);
  }
}

.resultsCount {
  display: block;
  margin-top: var(--spacing-2-xs);
}

.resultWrapper {
  padding: var(--spacing-2-xl);
  background: #f2f2f2;
  display: block;
  margin: 0;
  list-style: none;

  @media (max-width: 1099px) {
    padding: var(--spacing-l);
  }

  @media (max-width: 768px) {
    padding: var(--spacing-s);
  }

  > li {
    margin-bottom: var(--spacing-l);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
