b {
  font-weight: bold;
  font-size: 24px;
}

.container {
  max-width: 387px;
  background-color: white;
  margin: 20px;
}

.content {
  padding: 18px 16px 16px 16px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 12px;
}

.size {
  color: rgb(26, 26, 26);
  font-size: 16px;
  font-family: HelsinkiGrotesk-Bold;
  line-height: 29px;
}

.price {
  color: rgb(26, 26, 26);
  font-family: HelsinkiGrotesk-Bold;
  line-height: 29px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  text-align: left;
}

.applicants {
  color: rgb(29, 29, 29);
  font-size: 14px;
  font-family: HelsinkiGrotesk-Regular;
  font-weight: normal;
  text-align: right;
  line-height: 26px;
}

.apartmentDetails {
  color: rgb(29, 29, 29);
  font-size: 14px;
  font-family: HelsinkiGrotesk-Regular;
  font-weight: normal;
  line-height: 24.5px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.readMoreButton {
  width: 187px;
  height: 36px;
  border: 2px solid rgb(0, 0, 191);
  border-radius: 0px;
  color: rgb(0, 0, 191);
  font-size: 16px;
  font-family: HelsinkiGrotesk-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  background-color: white;
}

.readMoreButton:hover {
  cursor: pointer;
}

.applyButton {
  width: 144px;
  height: 36px;
  background: rgb(0, 0, 191);
  border-radius: 0px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: HelsinkiGrotesk-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

.applyButton:hover {
  cursor: pointer;
}
