.container {
  background: white;
  max-width: 1200px;
  margin-bottom: 32px;
}

.container:last-of-type {
  margin-bottom: 0;
}

.content {
  display: flex;
  height: 100%;
}

.info {
  display: flex;
  flex: 2;
  padding: 30px 30px 30px 20px;
}

.imageContainer {
  flex: 1;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  flex: 2;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details h2 {
  margin: 0;
}

.completionTime {
  margin: 24px 0 10px 0;
  display: flex;
  align-items: center;
}

.applicationTime {
  display: flex;
  align-items: center;
}

.titles {

}

.label {
  padding: 3px 8px;
  color: #1d1d1d;
  font-size: 14px;
  font-family: HelsinkiGrotesk-Regular;
  font-weight: normal;
  line-height: 26px;
  background-color: #f5da4e;
}

.controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.detailsButton {
  all: unset;
  width: 188px;
  height: 36px;
  border: 2px solid #0000bf;
  color: #0000bf;
}

.detailsButton:hover {
  cursor: pointer;
}

.apartmentListButton {
  all: unset;
  color: #0000bf;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
}

.apartmentListButton:hover {
  cursor: pointer;
}

.apartmentList {
  padding: 16px 30px 30px 30px;
  background-color: white;
}

.apartmentListHeaders {
  display: flex;
  text-align: left;
  border-bottom: 1px solid #cccccc;
}

.headerCell {
  padding-bottom: 16px;
}
