# Initialize API
# URL will be constructed like this: /{lang}/REACT_APP_INIT_PATH/
REACT_APP_INIT_PATH=initialize

# Elasticsearch API URL
REACT_APP_ELASTIC_BASE_URL=https://elasticsearch-hki-kanslia-aok-asuntotuotanto-test.agw.arodevtest.hel.fi/_search

# Map tiles URL
REACT_APP_MAP_TILES_URL=https://tiles.hel.ninja/styles/hel-osm-bright/{z}/{x}/{y}.png

# Set this to true when building the bundle for upcoming projects page
# This will hide filters and other unrelevant elements and only show a list with project state = UPCOMING
REACT_APP_SHOW_UPCOMING_ONLY=false

# HITAS/HASO
# Defines which project_ownership_type to show, defaults to "hitas" (includes also "puolihitas") if not set
# Possible options are: "hitas" or "haso"
REACT_APP_PROJECT_OWNERSHIP_TYPE=hitas
