# Filters
# URL will be constructed like this: /{lang}/REACT_APP_FILTERS_PATH/
REACT_APP_FILTERS_PATH=filters

# Elasticsearch API URL
REACT_APP_ELASTIC_BASE_URL=http://dev.asuntomyynti-elastic.druidfi.wod.by/_search

REACT_APP_MAP_TILES_URL=https://tiles.hel.ninja/styles/hel-osm-bright/{z}/{x}/{y}.png
