.container {
  background: white;
  padding: 30px 0;
  display: flex;
  text-align: left;
  border-bottom: 1px solid var(--color-black-20);
}

.container:last-of-type {
  border-bottom: none;
}

.cell {
  display: flex;
  color: var(--color-black-90);
  font-size: 18px;
  font-family: var(--font-default);
  font-weight: normal;
  line-height: 27px;
}

.cell:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.cell strong {
  margin-right: 25px;
}

.createApplicationButton {
  all: unset;
  padding: 0 15px;
  height: 36px;
  border: 2px solid var(--color-bus);
  color: var(--color-bus);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-left: 40px;
}

.createApplicationButton:hover {
  cursor: pointer;
}

.getToKnowButton {
  all: unset;
  color: var(--color-bus);
  padding: 0 25px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
}

.getToKnowButton:hover {
  cursor: pointer;
  background-color: var(--color-bus-light-5);
}
