.label {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  color: rgb(26, 26, 26);
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  align-items: center;
  height: 34px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
