.container {
  background: rgb(242, 242, 242);
  padding: 40px;
  width: 100%;
}

.form {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  margin: 0 -10px;
  & > * {
    margin: 0 10px;
    flex: 1;
  }
}

@mixin shimmer {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: transparent;
  background: linear-gradient(to right, #fafafa 8%, transparent 38%, #fafafa 54%);
  background-size: 1000px 640px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  min-height: 56px;

  .isLoading &.canShimmer {
    @include shimmer;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .column {
    margin: 5px 0;
  }
}

.divider {
  border-bottom: 1px solid var(--color-black-20);
  width: 100%;
  height: 0;
}

.header {
  font-weight: 500;
  height: 24px;
  margin-bottom: 4px;
}

.showMoreButton {
  all: unset;
  cursor: pointer;
  position: relative;
  padding-left: 18px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  height: 24px;

  &::before {
    transition: height 0.1s;
    position: absolute;
    left: 5px;
    top: 5px;
    content: '';
    height: 12px;
    width: 2px;
    background-color: var(--color-black);
    .expand & {
      height: 0;
    }
  }
  &::after {
    position: absolute;
    top: 10px;
    left: 0;
    content: '';
    height: 2px;
    width: 12px;
    background-color: var(--color-black);
  }
}

.clearFilters {
  all: unset;
  padding-left: 20px;
  cursor: pointer;
  position: relative;
  &::after {
    position: absolute;
    top: 10px;
    left: 0;
    content: '';
    height: 2px;
    width: 12px;
    background-color: var(--color-black);
    transform: rotate(45deg);
  }
  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    content: '';
    height: 2px;
    width: 12px;
    background-color: var(--color-black);
    transform: rotate(-45deg);
  }
}
