.container {
  @media (max-width: 768px) {
    padding-bottom: 20px;
  }
}

.item {
  label {
    width: 100%;
  }
}

.isWrapped .item:hover {
  background: var(--color-black-10);
}

.isWrapped {
  legend {
    display: none;
  }
}
