.apartmentTableRow {
  width: 100%;
  border-bottom: 1px solid var(--color-black-20);
  position: relative;

  &:last-child {
    border-bottom: 0;
  }

  @media (min-width: 769px) {
    border: none;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1100px) {
    display: table-row;

    &:hover > * {
      border-color: var(--color-black);
      z-index: 2;
    }
  }
}

.apartmentTableRowButtons {
  width: 100%;
  position: relative;

  @media (min-width: 1100px) {
    display: table-row;
  }
}

.cellTextStyles {
  color: var(--color-black-90);
  font-size: 18px;
  font-family: var(--font-default);
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

.cell {
  @extend .cellTextStyles;
  display: flex;
  padding-bottom: var(--spacing-xs);

  @media (min-width: 769px) and (max-width: 1099px) {
    flex: 1;
    padding: var(--spacing-m) var(--spacing-m) 0 0 !important;
  }

  @media (min-width: 769px) {
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) 0;
    border-top: 1px solid var(--color-black-20);
    border-bottom: 1px solid transparent;
  }

  @media (min-width: 1100px) {
    display: table-cell;
    vertical-align: top;
    line-height: 36px; // Same as button height
  }
}

.cellButtons {
  @media (max-width: 1099px) {
    flex-basis: 100%;
    padding: var(--spacing-s) 0;
  }

  @media (max-width: 768px) {
    display: flex;
    margin-top: var(--spacing-s);
    padding: 0;
  }

  @media (min-width: 1100px) {
    display: table-cell;
    vertical-align: top;
    padding: var(--spacing-m) 0;
    border-top: 1px solid var(--color-black-20);
    border-bottom: 1px solid transparent;
    line-height: 36px;
  }
}

.apartmentCell {
  @media (min-width: 992px) and (max-width: 1099px) {
    min-width: 200px;
  }

  strong {
    display: inline-block;
    line-height: 1;
    font-size: var(--fontsize-body-xl);
    margin-right: var(--spacing-s);

    @media (min-width: 992px) {
      min-width: 40px;
    }
  }

  span {
    display: inline-block;
  }
}

.apartmentAvailabilityMobile {
  margin-right: var(--spacing-s);
}

.apartmentCellMobile {
  @extend .cellTextStyles;
  border: none;
  background: none;
  padding: var(--spacing-s);
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
  cursor: pointer;

  strong {
    font-size: var(--fontsize-heading-m);
    min-width: 60px;
    line-height: 1;
  }
}

.mobileCells {
  display: none;
  padding: 0 var(--spacing-s) var(--spacing-s) var(--spacing-s);

  &.open {
    display: block;
  }
}

.cellMobileTitle {
  flex-basis: 100%;
  min-width: 150px;
  max-width: 50%;
}

.statusCircle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid transparent;
  display: inline-block;

  & + span {
    margin-left: 8px;
    font-size: 16px;
  }

  &.statusCircleFree {
    background-color: var(--color-copper-dark);
    border-color: var(--color-copper-dark);
  }

  &.statusCircleNone {
    background-color: transparent;
    border-color: var(--color-copper-dark);
  }

  &.statusCircleFew {
    background-color: var(--color-copper-dark);
    border-color: var(--color-copper-dark);
  }

  &.statusCircleSome {
    background-color: var(--color-alert);
    border-color: var(--color-alert);
  }

  &.statusCircleLots {
    background-color: var(--color-metro-dark);
    border-color: var(--color-metro-dark);
  }
}

.verticalContent {
  @media (max-width: 768px) {
    width: 100%;
  }

  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1100px) {
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 768px) {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
}

.createApplicationButton,
.getToKnowButton,
.openApartmentDetailsButton {
  text-decoration: none;
  height: 56px;
  white-space: nowrap;

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (min-width: 769px) {
    height: 36px;
    min-height: unset !important;
  }
}

.getToKnowButton {
  margin-right: 5px;

  @media (max-width: 768px) {
    margin-bottom: var(--spacing-xs);
    margin-right: 0;
  }

  span {
    padding: var(--spacing-s) !important;
  }
}

.openApartmentDetailsButton {
  @media (min-width: 1100px) {
    margin-top: var(--spacing-2-xs);
  }
}

.applicationSent {
  display: flex;
  align-items: center;
  white-space: nowrap;

  @media (max-width: 768px) {
    margin-bottom: var(--spacing-m);
  }

  a {
    font-weight: bold;
    text-decoration: underline;
    color: inherit;
  }
}
