.container {
  background: white;
  padding: var(--spacing-m) 0;
  display: flex;
  text-align: left;
  border-bottom: 1px solid var(--color-black-20);
  align-items: center;
}

.container:last-of-type {
  border-bottom: none;
}

.cell {
  display: flex;
  color: var(--color-black-90);
  font-size: 18px;
  font-family: var(--font-default);
  font-weight: normal;
  white-space: nowrap;
}

.apartmentCell {
  @extend .cell;

  strong {
    margin-right: 25px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.createApplicationButton {
  height: 36px;
  white-space: nowrap;
}

.getToKnowButton {
  height: 36px;
  margin-right: 5px;

  span {
    padding: var(--spacing-s) !important;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 30px 24px;
  }

  .content {
    margin-bottom: 30px;
    flex-direction: column;
  }

  .buttons {
    justify-content: space-between;
    flex-direction: column;
  }

  .getToKnowButton {
    height: 56px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .createApplicationButton {
    height: 56px;
    white-space: nowrap;
    width: 100%;
  }

  .apartmentCell {
    align-items: center;
    font-size: 18px;
    line-height: 27px;

    strong {
      margin-right: 41px;
      font-size: 24px;
      line-height: 29px;
      flex-basis: 70px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
