.label {
  padding: 3px 8px;
  color: #1d1d1d;
  font-size: 14px;
  font-family: var(--font-default);
  font-weight: normal;
  line-height: 26px;
  background-color: var(--color-engel-dark-50);
}

.titles {
  margin-bottom: 20px;
}