.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 72px 80px;
}

.titleContainer {
  text-align: left;
}

.titleContainer h1 {
  color: rgb(26, 26, 26);
  font-size: 36px;
  font-family: var(--font-default);
  font-weight: bold;
  line-height: 43px;
}

.label {
  padding: 3px 8px;
  color: #1d1d1d;
  font-size: 14px;
  font-family: var(--font-default);
  font-weight: normal;
  line-height: 26px;
  background-color: var(--color-engel-dark-50);
}

.titles {
  margin-bottom: 20px;
}