.completionTime,
.applicationTime,
.applicationSent,
.moveInTime {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-xs);

  &.dense {
    margin-bottom: var(--spacing-2-xs);
  }

  a {
    font-weight: bold;
    text-decoration: underline;
    color: inherit;
  }
}

.completionTime {
  margin-top: var(--spacing-s);

  &.dense {
    margin-top: var(--spacing-xs);
  }
}

.deadlines > div:last-child {
  margin-bottom: 0 !important;
}
