@import "../node_modules/leaflet/dist/leaflet.css";

body {
  margin: 0;
  font-family: var(--font-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#asu_react_search {
  * {
    box-sizing: border-box;
  }
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

@media (max-width: 768px) {
  .leaflet-container {
    height: 400px;
  }
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.carousel {
  position: relative;
}

.carousel,
.carousel__slider,
.carousel__slider-tray,
.carousel__slide,
.carousel__inner-slide {
  display: flex;
}

.carousel__slider-tray {
  height: 100%;
}

.carousel__slide {
  height: 100%;
  padding-bottom: 0 !important;
}
