@import "../node_modules/leaflet/dist/leaflet.css";

body {
  margin: 0;
  font-family: var(--font-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#search {
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

@media (max-width: 768px) {
  .leaflet-container {
    height: 400px;
  }
}